body{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Verdana';
    background: #f3f3f3;
    ;
}

header{
    background: #242424;
    color: white;
    font-size: 80px;
    line-height: 180px;
    text-align: center;
    height: 200px;
}

.game_button{
    width: 250px;
    height: 60px;
    color: #242424;
    font-family: 'Verdana';
    font-size: 20px;
    border: 2px solid #242424;
    border-radius: 2px;
    margin-top: 15px;
    transition: background 0.3s;
    outline: none;
}

.game_button:hover{
    color: #f3f3f3;
    background: #303030;
}

